<!DOCTYPE html>
<html>
   <head>
      <title>Dark Angels</title>
	     <!DOCTYPE html>
<html>
  <head>
  
   <style>
          body{
             background-image: url(https://preview.ibb.co/ijcYLV/dark.jpg); 
             background-size: cover; 
             
          }
   </style>
  </head>
  <body>
  </body>
</html>
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">      
      <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel = "stylesheet" href = "../static/css/materialize.min.css">
		<link rel = "stylesheet" href = "../static/css/dark_angels.css">
      <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
      <script src = "../static/js/materialize.min.js"></script>            
   </head>
  
   <body class = "grey darken-4"> 
       <nav>
           <div class="nav-wrapper grey darken-3">
               <a href="#" class="brand-logo">What do you want to do {{ name }} ?</a>
               <ul id="nav-mobile" class="right hide-on-med-and-down">
			        <li><a href="/logout">Log out</a></li>
      			</ul>
           </div>
       </nav>


		<div class="valign-wrapper row login-box">
        <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
              <div class="collection center">
        			<a href="/new_client" class="collection-item">New Client</a>
        			<a href="/search_clients" class="collection-item">Actual Clients</a>
      		</div>
      	</div>
    	</div>
      
   </body>
   
</html>
