<!DOCTYPE html>
<html>
   <head>
      <title>Dark Angels</title>
	     <!DOCTYPE html>
<html>
  <head>
  
   <style>
          body{
             background-image: url(https://preview.ibb.co/ijcYLV/dark.jpg); 
             background-size: cover; 
             
          }
   </style>
  </head>
  <body>
  </body>
</html>
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">      
      <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel = "stylesheet" href = "../static/css/materialize.min.css">
		<link rel = "stylesheet" href = "../static/css/dark_angels.css">
      <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
      <script src = "../static/js/materialize.min.js"></script>
      <script src = "../static/js/new_employee_page.js"></script>                     
      
   </head>
  
   <body class = "grey darken-4">
       <nav>
           <div class="nav-wrapper grey darken-3">
               <a href="#" class="brand-logo">Dark Angels</a>
           </div>
       </nav>

      <div class="valign-wrapper row">
        <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">

				{% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                                <li class="red-text">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}        
        
            <form action="/register_employee" method="post">
                <div class="card-content">
                    <span class="card-title">New Employee</span>
                        <div class="row">
                          <div class="input-field col s12">
                              <label for="emp_name">Name</label>
                              <input type="text" pattern="^[a-zA-Z_ ]*$" class="validate" name="emp_name" id="emp_name" title="Não utilize números, acentuação ou caracteres especiais" required/>
                          </div>
                          <div class="input-field col s12">
                              <label for="emp_id">ID</label>
                              <input type="number" class="validate" name="emp_id" id="emp_id" required/>
                          </div>
                          <div class="input-field col s12">
                              <label for="emp_pass">Password</label>
                              <input type="password" pattern="^[a-zA-Z0-9_ ]*$" class="validate" name="emp_pass" id="emp_pass" title="Não utilize caracteres especiais" required/>
                          </div>
                        	<div class="input-field col s12">                        		                     			                      		
	   								<select id="selectBox" name="selectBox" class="browser-default" onchange="changeFunc();" required>	   									
	   									<option value="" disabled selected>Choose the employee's group</option>
      									<option value="ADM">Administration</option>
      									<option value="MAN">Maintenance</option>
      									<option value="SEC">Security</option>      										
	    								</select>    									
  									</div>		
  									<div id="train" class="input-field col s12" style="display: none;">
                              <label for="emp_train">Treinamento</label>
                              <input type="text" pattern="^[a-zA-Z0-9_ ]*$" class="validate" name="emp_train" id="emp_train" title="Não utilize caracteres especiais"/>
                          </div>			
                          <div id="man_group" class="input-field col s12" style="display: none;">
                          
                          		<div class="row">
                          			<label>
        										<input type="checkbox" onchange='handleChangeEletric(this);' name='man_ele' class="filled-in col s6" id="eletrica"/>
        										<span>Elétrica</span>
      									</label>
      									<input type="number" class="validate col s6" name="man_ele_nr" id="man_ele_nr" value="0" style="display: none; float: right"/>
                          		</div>
                          		
                          		<div class="row">
                          		<label>
        									<input type="checkbox" onchange='handleChangeMecanic(this);' name='man_mec' class="filled-in col s6" id="mecanica"/>
        									<span>Mecânica</span>
      									</label>
      									<input type="number" class="validate col s6" name="man_mec_nr" id="man_mec_nr" value="0" style="display: none; float: right"/>
                                </div>
                                <div class="row">
      									<label>
        									<input type="checkbox" onchange='handleChangeTI(this);' name='man_ti' class="filled-in col s6" id="ti"/>
        									<span>TI</span>
      									</label>
      									<input type="number" class="validate col s6" name="man_ti_nr" id="man_ti_nr" value="0" style="display: none; float: right"/>
                                </div>      							                 		 								                 									
                          </div>               
                  		</div>
          		</div>
          		
          		<div class="card-action right-align">
            		<a href="/adm_section"> Cancel </a>
            		<input type="submit" class="btn grey darken-1 waves-effect waves-light" value="Register">
         		</div>
        		</form>
        		
      	</div>
    	</div>
   </body>
   
</html>
