    <!DOCTYPE html>
<html>
   <head>
      <title>Dark Angels</title>
         <!DOCTYPE html>
<html>
  <head>
  
   <style>
          body{
             background-image: url(https://preview.ibb.co/ijcYLV/dark.jpg); 
             background-size: cover; 
             
          }
   </style>
  </head>
  <body>
  </body>
</html>
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">      
      <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel = "stylesheet" href = "../static/css/materialize.min.css">
        <link rel = "stylesheet" href = "../static/css/dark_angels.css">
      <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
      <script type = "text/javascript" src = "../static/js/materialize.min.js"></script>
      <script type = "text/javascript" src = "../static/js/search_employee.js"></script>
      <meta charset="UTF-8">                 
   </head>
  
   <body class = "grey darken-4"> 
        <nav>
        <div class="nav-wrapper grey darken-3">
            <a href="#" class="brand-logo">Dark Angels</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">     
                <li><a href="/adm_section">Return</a></li>
            </ul>
        </div>
      </nav>
      
      <!-- Page Layout here -->
    <div class="row">

      <div class="col s3 grey darken-3 full-height">

        <form action="/filter_contracts" method="post">

            <select id="selectBox_order" name="selectBox_order" class="browser-default" >                  
                <option value="" disabled selected>Order by</option>
                <option value="cliente">Client</option>
                <option value="cep_central">CEP</option>
                <option value="numero_central">Central</option>
                <option value="ndias">Days</option>
                <option value="preco">Price</option>
                <option value="data">Date</option>
            </select>
<!--
            <label for="id_client">Client</label>  
            <input type="text" pattern="^[0-9_\./ ]*$" class="validate" name="id_client" id="id_emp"/>
            <label for="number_central">Number - Central</label>  
            <input type="text" pattern="^[0-9_\. ]*$" class="validate" name="name_emp" id="name_emp"/> -->
            <a href="/search_clients" class="waves-effect waves-light btn" style="float: right">Clear Filter</a> 
            <input type="submit" class="waves-effect waves-light btn" value="Apply"/>
        </form>
      </div>

      <div class="col s9 grey lighten-3 full-height">               
        <table>     
            <thead>
                <td><a class="btn-flat col s6">Client</a></td>
                <td><a class="btn-flat col s6">CEP</a></td>
                <td><a class="btn-flat col s6">Central</a></td>
                <td><a class="btn-flat col s6">Days</a></td>
                <td><a class="btn-flat col s6">Description</a></td>
                <td><a class="btn-flat col s6">Price</a></td>
                <td><a class="btn-flat col s6">Date</a></td>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr id="row_people" >
                    <td align="center">{{row[0]}}</td>
                    <td align="center">{{row[1]}}</td>
                    <td align="center">{{row[2]}}</td>
                    <td align="center">{{row[3]}}</td>
                    <td align="center">{{row[4]}}</td>
                    <td align="center">{{row[5]}}</td>
                    <td align="center">{{row[6]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>

    </div>      
   </body>
   
</html>
